/* button {
    margin: 0 3px 10px 0;
    padding-left: 2px;
    padding-right: 2px;
    width: 99px;
  } */

.adminSide {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 10px;
}

.logoImg {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.questionText {
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 10;
  left: 10px;
  box-sizing: border-box;
  padding: 20px;
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
}
.videoask {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.button {
  border-radius: 50%;
  width: 50px;
  padding: 10px;
  cursor: pointer;
  height: 50px;
  border: none;
  font-size: 1.2rem;
  color: white;
  background-color: rgba(32, 32, 32, 0.7);
}
.button:focus {
  outline: none;
}

button:last-of-type {
  margin: 0;
}

p.borderBelow {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

/* video {
    height: 232px;
    margin: 0 12px 10px 0;
    vertical-align: top;
    width: calc(20em - 10px);
  }
  
  video:last-of-type {
    margin: 0 0 20px 0;
  }
  
  video#gumVideo {
    margin: 0 200px 200px 0;
  } */

@media (max-width: 500px) {
  button {
    font-size: 0.8em;
    width: calc(33% - 5px);
  }
}

#container {
  /* margin : 20px auto; */
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 75vh;
  width: 100%;
  border-radius: 20px;
  border: 1px solid#c5c5c5;
  position: relative;
  box-sizing: border-box;
}

#userSide {
  width: 50%;
  height: 100%;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

#readyState {
  width: 50%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#readyVideo {
  object-fit: cover;
  border-radius: 20px;
}

#sendMessage {
  position: absolute;
  top: 10px;
  height: calc(100% - 20px);
  padding: 20px 5px;
  box-sizing: border-box;
  width: calc(100% - 20px);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  color: white;
}

#sendMessageChoice {
  display: flex;
}

#choiceYes {
  margin: 20px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 30px;
  background-color: #f6c116;
}

#choiceNo {
  margin: 20px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 30px;
  background-color: #4a164b;
}

#gum {
  /* margin-left: 40%; */
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  object-fit: cover;
  /* border-radius: 10px;
    border-color: blueviolet; */
}
#record {
  /* margin-left: 467px; */
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  border-radius: 50%;
  color: white;
  background-color: #c90000;
  font-size: 1.3rem;
  border: 3px solid white;
}

#record:focus {
  outline: none;
}

#close {
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  border-radius: 50%;
  color: white;
  background-color: rgba(71, 71, 71, 0.7);
  font-size: 1.5rem;
  border: 3px solid grey;
  position: absolute;
  bottom: 30px;
  left: 65%;
}

#upload {
  /* margin-left: 40%; */
}

#leftVideo {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.startVideo {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.recordStart {
  padding: 20px;
  margin: 10px 0px;
  background-color: #3f1848;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  border-radius: 20px;
}

#addData {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  padding: 30px 0px;
  box-sizing: border-box;
  justify-content: space-between;
}

.confirmPage {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0px;
  color: white;
  background-color: #f8c212;
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.confirmChoice {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
}

.confirmText {
  width: 90%;
  text-align: center;
  color: #4a164b;
}

.confirmChoice > div {
  margin: 20px 20px;
}

.confirmBtn {
  margin: 20px;
  padding: 20px;
  width: 200px;
  border-radius: 20px;
  text-align: center;
  background-color: #3f1848;
  color: white;
  cursor: pointer;
}

.confirmBtn:hover {
  background-color: #4a2e50;
}

.userModal {
  position: absolute;
  z-index: 20;
  width: calc(100% - 20px);
  box-sizing: border-box;
  height: calc(100% - 20px);
  background-color: rgba(36, 36, 36, 0.8);
  color: white;
  flex-direction: column;
  border-radius: 20px;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2rem;
  align-items: center;
  display: none;
}

.userModal > div {
  display: block;
  animation: fadeIn 2s linear infinite;
  margin: 20px 0px;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 786px) {
  .adminSide {
    position: absolute;
    width: 100%;
  }
  #userSide {
    width: 100%;
    color: white;
    z-index: 30;
  }
  #readyState {
    width: 100%;
  }
  .recordStart {
    margin-top: 100%;
  }
  .confirmPage {
    z-index: 40;
  }
}
